# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Frontend dependencies
node_modules/

# Frontend build output
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db


# Large project datasets
Data/raw/*.csv
Data/processed/*.csv


# PostgreSQL database dump
*.dump